.room-title {
  margin-top: 0;
  color: $form-white;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.main-container__content {
  flex: 1;
  margin-left: 1rem;
  overflow: scroll;
}

.created-at {
  color: darken($form-white, 60);
}

.user-name {
  color: lighten($brand-blue, 15);
}

.post-content {
  color: $brand-gold;
}

.post__container {
  display: flex;
  width: 100%;
}

.post-input {
  flex-grow: 1;
  font-size: 1.5rem;
}

.post-btn {
  align-self: center;
  width: 5rem;
  padding: 0.5rem 0;
  border: 0;
  background: $brand-blue;
  color: $brand-gold;
  font-size: 1rem;
}

.error-msg {
  margin: 0;
  padding-top: 2rem;
  background: $brand-background;
  color: $brand-gold;
  text-align: center;
}
