<div class="main">
  <form class="register-form" {{action saveChatter model on="submit"}}>
    {{input type="text" placeholder="Email" value=model.email}}
    {{input type="password" placeholder="Password" value=model.password}}
    {{input type="text" placeholder="Username" value=model.username}}
    <button class="save-button">Save</button>
  </form>
</div>
