<header class="header">
  <div class="header__container">
    <h2 id="title">Predators Chatty</h2>
    {{#link-to "register"}}
      <p class="register">Register</p>
    {{/link}}
  </div>
</header>

{{outlet}}
